.header__with-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 940px) {
  .header__with-logo {
    max-width: 581px;
  }
}

@media screen and (max-width: 641px) {
  .header__with-logo {
    width: 320px;
  }
}