.header__button {
  display: none;
  visibility: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .4s linear;
}

.header__button:hover {
  opacity: .6;
}

@media screen and (max-width: 641px) {
  .header__button {
    visibility: visible;
    display: block;
    margin-right: 27px;
  }
}